 .body-c {
    
    min-height: 100vh;
    display: flex;
    justify-content: center;
    min-width: 100vw;
    padding: 0;
    margin: 0;
    
}

.hero-1 {
    background-image:url(/TRophy-08.png);
    width: 1536px;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
   
}
 .ol-p {
    list-style-type: circle;
    font-size: 2rem;
    
 }
 
 #animated-div {
    
    background-color: transparent;
    animation: hithere 7s ease infinite;
}

@keyframes hithere {
    30% { transform: scale(1.2); }
    40%, 60% { transform: rotate(-1deg) scale(1.2); }
    50% { transform: rotate(20deg) scale(1.2); }
    70% { transform: rotate(0deg) scale(1.2); }
    100% { transform: scale(1); }
  }
  


      
